html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
a, address, big, img,
small, strike, strong, i,
dl, dt, dd, ol, ul, li, form, label, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* HTML display-role reset fot older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display: block;
}
h1, h2, h3, h4, h5, h6, p{
    line-height: 1;
    font-weight: normal;
}
ol, ul{
    list-style: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    border: none;
}